body {
  font-family: sans-serif;
  direction: rtl;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}
#container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}
#drop-area-container {
  flex-grow: 0;
  margin-bottom: 10px;
}
#drop-area {
  border: 2px dashed #ccc;
  border-radius: 8px;
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  transition: background-color 0.3s;
}
#drop-area.highlight {
  border-color: #0066cc;
  background-color: #f0f6ff;
}
#file-input {
  display: none;
}
#browse-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
#browse-button:hover {
  background-color: #0055aa;
}
#output {
  flex-grow: 1;
  margin-top: 10px;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
  padding: 10px;
}
.whatsapp-message {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  position: relative;
}
.whatsapp-message a {
  color: #25D366;
  text-decoration: none;
  font-weight: bold;
}
.whatsapp-message a:hover {
  text-decoration: underline;
}
.copy-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}
.copy-button:hover {
  background-color: #45a049;
}
.copy-button.copied {
  background-color: #45a049;
}
#paste-area {
  width: 80%;
  height: 150px;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: monospace; /* Use a fixed-width font for better table alignment */
  white-space: pre-wrap;     /* Allow text to wrap within the paste area */
  overflow: auto;            /* Add scrollbars if content overflows */
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1) inset;
}
#paste-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff; /* Changed color for distinction */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
#export-vcf-button, #google-contacts-link {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #28a745; /* Green for VCF */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none; /* For the Google Contacts link */
}

#export-vcf-button:hover, #google-contacts-link:hover {
  background-color: #218838;
}
